/* styling the media-query.html */

body{
    font-family: 'roboto', sans-serif;
}

header h1{
    text-align: center;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    background-color: #B0C4DE;
    padding:1rem;
    border: 1px solid black;

}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    padding:1.5rem;
    background-color: #fff;
}