*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:grid;
    grid-template:1fr 1fr 1fr/ 1fr 1fr 1fr;
    height: 60vh;
}

/* Styling the header and the navigation */
.navigation a{
    text-decoration: none;
    color:#fff;
    background-color: #000;
}

.navigation li{
    list-style: none;
    flex: 1 1 auto;
}
.navigation{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-one p{
    background-color: #333;
    padding:50px;
    color:#fff;
}

.header-one nav a{
    display: block;
    padding:1.5rem;
    text-align: center;
}

/* Header grid */

.header-one{
    grid-column: 1/4;
}

/* Styling the body */

.section-one{
    background-color: gray;
    color:#fff;
    grid-column:1/3;
    height:40vh;

}

.section-one p{
    padding:15px;
}

.aside-one{
    color: #000;
    grid-column:3/4;
}

.aside-one p{
    padding:15px;
}

.footer-one{
    background-color: #333;
    color:#fff;
    grid-column:1/4;
    text-align: center;
    height: 40vh;
}

.footer-one p{
    padding-top: 15px;
}
