/* Style for the larger view three columns  */
@media (min-width: 769px) {
    main {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
        padding: 20px;
    }

    figure img {
        width: 100%; 
        height: auto; 
    }

    figure figcaption {
        text-align: center;
        font-size: 1.1rem;
        margin-top: 10px;
    }

    main h1{
    grid-column: 1 / -1; 
    text-align: center;
    margin: 1rem 0;

    }
}