/* Global Reset & Settings */
/*  fromhttps://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box; 
}

:root {
    --header-footer:  #4a76d0;
    --main-content: #f8f9fa;
    --text: #333;
    --background: #ffb7c5;
    --background-hover: #ff69b4;
}

/* styling for the body */
body {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
}

/*  styling the header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer);
    padding: 2rem;
    color: var(--main-content);
}

header p{
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px; 
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--main-content);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    font-size: large;
}

/* Styling the body with the 9 Temples */

main{
    max-width: 850px;
    margin: 1rem auto;
}

main h1{
    text-align: center;
}

main img{
    width: 100%;
    height: auto;
    padding: 15px 0;
}

/* Hamburger icon hidden on larger screens */
.hamburger-btn {
    display: none; 
    background: none;
    border: none;
    color: var(--main-content);
    font-size: 2em;
    cursor: pointer;
}

/*  Mobile only Grid layout */

@media(max-width: 768px) {

    header p.hide-text{
        display: none;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
    }

    nav ul {
        display: none; /* Hide navigation links*/
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    /* Display the hamburger button only on mobile */
    .hamburger-btn {
        display: block; /* Show the hamburger button */
    }

    nav ul.show {
        display: flex; /* Show the navigation menu when toggled */
        align-self: center;
        justify-content: center;
        margin: 0 auto;


    }

    figure figcaption{
        text-align: center;
        font-size: 1rem;
    }

}

/*  styling the footer */

footer {
    text-align: center;
    background-color: var(--header-footer);
    padding: 1.5rem;
    color: var(--main-content);
    margin-top: 20px;
}

.date, #lastModified {
    display: inline; 
    font-size: 0.9rem;
    margin-top: 5px;
}